
{% extends "base.html" %}

{% block title %} Index{% endblock %}

{% block content %}

	{% if request.user.is_authenticated %}
		<h1>Bienvenido {{request.user}}</h1>
	{% else %}
		<h4>{{message}}</h4>
			<form method="POST">
			{% csrf_token %}
			{{form}}

			<button type="submit" class="btn btn-outline-primary">Login</button>
			<button type="reset" class="btn btn-outline-warning">Cancel</button>
			</form>
	{% endif %}

{% endblock %}