{% load staticfiles %}
<DOCTYPE HTML>
<HTML>
<HEAD>
  <title>{%block title%}{% endblock %}</title>
</HEAD>
<BODY>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</script>

<script type="text/javascript">
  $( document ).ready(function(){
      console.log("working")
      var searchInput = $("#nav-bar-form input(type = search)")
      var searchQuery;

      searchInput.keyup(function(event){
        searchQuery = $(this).val()
        console.log(searchQuery)
      })

      function doneSearchingTyping(){
        if(searchQuery){
          var url = "/parte2/search?q="+searchQuery
          document.location.href = url
        }
      }

    }
  );
</script>

{% include "navbar.html" %}
<br>
<div class="container">
{% if request.user.is_authenticated%}

{%else%}
    
{%endif%}
  {%block content %}
  
  {% endblock %}
</div>

</BODY>
</HTML>
