<div>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #10689e;">
  <a class="navbar-brand" href="#">Barra de navegacion</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Inicio <span class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           parte 1
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'crear' %}">Agregar registro</a>
          <a class="dropdown-item" href="{% url 'listageneral' %}">Listar registro</a>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Listar por:
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'cc' %}">Ciencias computacionales </a>
          <a class="dropdown-item" href="{% url 'ct' %}">Ciencias de la tierra </a>
          <a class="dropdown-item" href="{% url 'cn' %}">Ciencias Naturales </a>
          <a class="dropdown-item" href="{% url 'cs' %}">Ciencias Sociales </a>
          <a class="dropdown-item" href="{% url 'cm' %}">Ciencias Medicas </a>
        </div>
        </div>
      </li>

            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Parte 2
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'crearsoft' %}">Registrar software</a>
          <a class="dropdown-item" href="{% url 'creardept' %}">Registrar Departamento</a>
          <a class="dropdown-item" href="{% url 'crearfunc' %}">Registrar Funcion</a>
          
          <a class="dropdown-item" href="{% url 'listasoft' %}">Listar software</a>
          <a class="dropdown-item" href="{% url 'listadept' %}">Listar Departamento</a>
          <a class="dropdown-item" href="{% url 'listafunc' %}">Listar Funcion</a>

          <a class="dropdown-item" href="{% url 'filtradofunc' %}">Filtrar por Funcion</a>
          <a class="dropdown-item" href="{% url 'filtradodept' %}">FIltrar por Departamento</a>
        </div>
      </li>

        </div>
      </li>

    </ul>
    {% if request.user.is_authenticated %}

    <a  class="btn btn-danger" href="{% url 'logout' %}" role="button">Logout </a>
    {%else%}
    <a class="btn btn-primary" href="{% url 'signup'%}" role="button">SignUp</a>
    <a class="btn btn-secondary" href="{% url 'login'%}" role="button">Login</a>
    {%endif%}
    
  </div>
</nav>
</div>
