{% extends "base.html" %}

{%block title %}Delete{%endblock%}

{% block content %}

	<h3>¿Realmente quieres eliminar este registro?</h3>
	<form method="POST">
		{% csrf_token %}
		<button type="submit" class="btn btn-outline-danger">Delete</button>
		<a class="btn btn-link" href="{% url 'listageneral'%}">Return</a>
	</form>

{% endblock %}