{% extends "base.html" %}

{%block title %}{%endblock%}

{% block content %}


<div class="media">
    <h5 class="mt-0">Detalles del Registro</h5>
    <br>
    <h4>
Usuario: {{object.usuario}}<br>
Investigacion : {{object.nombreinvestigacion}}<br>
Categoria: {{object.clase}}<br>
Archivo: <a href="{{object.archivo.url}}">{{object.archivo}}</a><br>
Fecha de registro: {{object.Fecha_subida}}<br>
<a href="{% url 'listageneral' %}">|back|</a>
</h4>
  </div>
</div>


{%endblock%}