{% extends "base.html" %}

{%block title %}Lista{% endblock %}

{% block content %}


<h3>Registros de archivos</h3>
<br>

<table class="table table-secondary table-hover">
<thead class="table-dark">
	<tr>
		<th>Investigacion</th>
		<th>Autor</th>
		<th>Clase</th>
		<th>Archivo</th>
		<th></th>
		<th>Acciones</th>
		<th></th>
	</tr>
</thead>
<tbody>
{% for pk in object_list %}
<tr>
<td>{{pk.nombreinvestigacion}}</td>
<td>{{pk.usuario}}</td>
<td>{{pk.clase}}</td>
<td><a href="{{pk.archivo.url}}">{{pk.archivo}}</td>
<td><a href="{% url 'detail1' pk=pk.id%}">Detalles</a></td>
<td><a href="{% url 'update1' pk=pk.id%}">Actualizar</a></td>
<td><a href="{% url 'delete1' pk=pk.id%}">Eliminar</a></td>
</tr>
{% endfor %}
</tbody>
</table>

{{ message }}

{%endblock%}