detailsoft.html{% extends "base.html" %}

{%block title %}{%endblock%}

{% block content %}


<div class="media">
  <div class="media-body">
    <h5 class="mt-0">Detalles del software</h5>
    <br>
    <h4>
Programa: {{object.nombre}}<br>
Desarrollador: {{object.desarrollador}}<br>
Funcion: {{object.funcion}}<br>
Departamento: {% for p in object.departamento.all %} {{ p.nombre_deparatamento }} {% endfor %}<br>
Fecha de registro: {{object.Fecha_subida}}<br>
Registrado por: {{object.usuario}}<br>
Slug: {{object.slug}}<br>
<a href="{% url 'listasoft' %}">|back|</a>
</h4>
  </div>
</div>

{%endblock%}