detailsoft.html{% extends "base.html" %}

{%block title %}{%endblock%}

{% block content %}


<div class="media">
  <div class="media-body">
    <h5 class="mt-0">Detalles del departamento</h5>
    <br>
    <h4>
Departamento: {{object.nombre_deparatamento}}<br>
Ubicacion: {{object.ubicacion}}<br>
Registrado el: {{object.fecha_creacion}}<br>
<a href="{% url 'listadept' %}">|back|</a>
</h4>
  </div>
</div>


{%endblock%}