detailsoft.html{% extends "base.html" %}

{%block title %}{%endblock%}

{% block content %}


<div class="media">
  <div class="media-body">
    <h5 class="mt-0">Detalles de la funcion</h5>
    <br>
    <h4>
Funcion: {{object.nombre_funcion}}<br>
Descripcion: {{object.descripcion}}<br>
<a href="{% url 'listafunc' %}">|back|</a>
</h4>
  </div>
</div>


{%endblock%}