{% extends "base.html" %}

{%block title %}Filtrado{% endblock %}

{% block content %}

<h3>Elige un departamento</h3>

<form class="form-inline my-2 my-lg-0" id="nav-bar-form" method = "GET" action="{% url 'listasoft' %}">
<select name="q">
{% for pk in object_list %}
    <option value="{{ pk.nombre_deparatamento }}">{{ pk.nombre_deparatamento}}</option>
{% endfor %}
</select>
<button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>

<br>

{%endblock%}