{% extends "base.html" %}

{%block title %}Lista{% endblock %}

{% block content %}


<h3>Funciones</h3>
<br>

<table class="table table-secondary table-hover">
<thead class="table-dark">
	<tr>
		<th>Funcion</th>
		<th></th>
		<th>Acciones</th>
		<th></th>
	</tr>
</thead>
<tbody>
{% for pk in object_list %}
<tr>
<td>{{pk.nombre_funcion}}</td>
<td><a href="{% url 'detailf' pk=pk.id%}">Detalles</a></td>
<td><a href="{% url 'updatef' pk=pk.id%}">Actualizar</a></td>
<td><a href="{% url 'deletef' pk=pk.id%}">Eliminar</a></td>
</tr>
{% endfor %}
</tbody>
</table>

{{ message }}

{%endblock%}