{% extends "base.html" %}

{%block title %}Lista{% endblock %}

{% block content %}


<h3>Software</h3>
<br>

<table class="table table-secondary table-hover">
<thead class="table-dark">
	<tr>
		<th>Nombre</th>
		<th>Desarrollador</th>
		<th>Funcion</th>
		<th>Departamento que lo usa</th>
		<th></th>
		<th>Acciones</th>
		<th></th>
	</tr>
</thead>
<tbody>
{% for pk in object_list %}
<tr>
<td>{{pk.nombre}}</td>
<td>{{pk.desarrollador}}</td>
<td>{{pk.funcion}}</td>
<td>{% for p in pk.departamento.all %} {{ p.nombre_deparatamento }} {% endfor %}</td>
<td><a href="{% url 'details' pk=pk.id%}">Detalles</a></td>
<td><a href="{% url 'updates' pk=pk.id%}">Actualizar</a></td>
<td><a href="{% url 'deletes' pk=pk.id%}">Eliminar</a></td>
</tr>
{% endfor %}
</tbody>
</table>

{{ message }}

{%endblock%}