{% extends "base.html" %}

{%block title %}Lista{% endblock %}

{% block content %}


<h3>Departamentos</h3>
<br>

<table class="table table-secondary table-hover">
<thead class="table-dark">
	<tr>
		<th>Departamento</th>
		<th>Ubicacion</th>
		<th></th>
		<th>Acciones</th>
		<th></th>
	</tr>
</thead>
<tbody>
{% for pk in object_list %}
<tr>
<td>{{pk.nombre_deparatamento}}</td>
<td>{{pk.ubicacion}}</td>
<td><a href="{% url 'detaild' pk=pk.id%}">Detalles</a></td>
<td><a href="{% url 'updated' pk=pk.id%}">Actualizar</a></td>
<td><a href="{% url 'deleted' pk=pk.id%}">Eliminar</a></td>
</tr>
{% endfor %}
</tbody>
</table>

{{ message }}

{%endblock%}